<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/css/style.css" />
   <title>Demo</title>
</head>
<body>
   <header> <img src="/images/HelloKitty.png" width = "100px"></header>
   <nav>
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/gallery">Gallery</a></li>
      </ul>
   </nav>
   {{{body}}}
</body>
</html>